* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: Poppins, sans-serif;
}

:root {
    /* #8800ff; rgb(142, 107, 175)*/
    --color1: rgb(130 41 213);
    --color2: rgb(0 132 88);
}

.stick {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.page {
    .page {
        display: grid;
        height: 100vh;
        background-color: #eee;
        grid-template-rows: 60px auto 100px;
    }

}

.header {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "logo  nav ";
    height: 63px;
}


.logo {
    display: flex;
    grid-area: logo;
    color: white;
    justify-content: center;
    align-items: center;

}

.logo h2 {
    color: black;
    font-size: 35px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: -31%;

}

nav .sng {
    width: 100px;
    padding: 7px 0;
    border: 2px solid #fff;
    background-color: var(--color1);
    color: #fff;
    border-radius: 9px;
    font-size: medium;
    cursor: pointer;
}

nav .lgn {
    padding: 8px 0;
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--color1);
    font-size: large;
    margin-left: 10px;
    cursor: pointer;
}


nav {
    grid-area: nav;
    color: black;
    margin-top: 12px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    ;
    gap: 38px;

}

nav li {
    font-size: 1.2rem;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: var(--color1);
}



.first {
    display: grid;
    grid-template-columns: 8% 82% 10%;
    grid-template-areas: "side cont";
    height: 500px;
}

.side {
    display: flex;
    color: black;
    grid-area: side;
    align-items: center;
    justify-content: center;
}

.side ul {
    list-style: none;
    display: flex;
    gap: 57px;
    transform: rotate(-90deg);
}

.side ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.side ul li a:hover {
    color: var(--color1);
}

.cont {
    grid-area: cont;
    display: flex;
    justify-content: end;
    align-items: center;
}

.ktba {
    padding: 100px 50px 50px;
}

.ktba button {
    width: 110px;
    height: 60px;
    border: 2px solid #fff;
    background-color: var(--color1);
    color: #fff;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px;
}

.all {
    display: flex;
    justify-content: end;
    align-items: center;
}

.cont h2 {
    font-size: xxx-large;
}

.cont h2 span {
    color: var(--color1);
}

.cont p {
    padding: 20px 0;
}

.cont img {
    border-radius: 110px 0 0;
}

footer {
    grid-area: foot;
    background-color: rgb(227, 227, 123);
    color: white;
}

.choose {
    display: flex;
    justify-content: center;
}

.chs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 115px;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0 0 10px 2px rgba(37, 73, 214, 0.18);
    width: 950px;
    margin-top: 15px;
}

.chs select {
    padding: 20px;
    border-radius: 12px;
    width: 220px;
    font-size: medium;
    cursor: pointer;
    /* appearance: none; */
}

.chs button {
    width: 100px;
    padding: 13px 0;
    border: 2px solid #fff;
    background-color: var(--color1);
    color: #fff;
    border-radius: 23px;
    font-size: medium;
    cursor: pointer;

}

.us {
    grid-area: two;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-left: 10%;
}

.hadra {
    margin-left: 35px;
    padding: 0 200px 0 0;
}

.hadra h2 {
    font-size: larger;
    color: rgb(61 158 255);
}

.us img {
    border-radius: 60px 0 60px 60px;
}

.us h3 {
    color: rgb(67 54 155);
    margin: 10px 0;
    font-size: xx-large;
    word-spacing: 5px;
}

.us p {
    word-spacing: 6px;
    margin: 15px 0;
}

.us button {
    width: 114px;
    padding: 10px 0;
    border: 3px solid transparent;
    background-color: var(--color1);
    color: #fff;
    border-radius: 25px;
    font-size: medium;
    cursor: pointer;
    margin-top: 20px;
}

.abtus {
    background-color: #f6f6f6;
    margin-top: 113px;
}

.dyr {
    margin-top: 100px;
}

.getting {
    padding: 0 300px;
    text-align: center;
}

.getting h2 {
    font-size: xx-large;
    font-weight: 700;
    margin: 20px 0;
}

.getting h2 span {
    color: var(--color1);
}

.serv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 220px;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #e0dfe1;
}

.left {
    width: 40%;
    text-align: center;
    padding: 0 20px;
}

.right h2 {
    font-size: revert;
    color: rgb(67 54 155);
    margin-bottom: 10px;
    font-family: system-ui;
}

.right p {
    word-spacing: 5px;
}

.box:hover {
    background-color: #f2eaff;
    color: black;
    transform: scale(1.1);
    transition: 0.4s;
}

.prope {
    margin-top: 100px;
}

.klmat {
    text-align: center;
    margin-bottom: 30px;
}

.klmat h5 {
    color: var(--color1);
    font-size: x-large;
}

.klmat h2 {
    color: rgb(67 54 155);
    font-size: xx-large;
    margin: 10px 0;
}

.klmat p {
    margin: 0 350px;
    word-spacing: 2px;
}

.tsawer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pro {
    width: 16%;
    height: 325px;
    border: 2px solid transparent;
    border-radius: 39px 1px;

    box-shadow: 0 0 20px 9px #c1c1c163;
    display: grid;
    grid-template-rows: 70% 12% 15%;
    align-items: center;
}

.pro h4 {
    font-size: x-large;
    color: rgb(67 54 155);
    margin-left: 66%;
}


.pro img {
    width: 93%;
    height: 90%;
    border-radius: 39px 1px;
    margin-left: 4%;
}

.pro button {
    float: left;
    padding: 5px 10px;
    background-color: var(--color1);
    color: white;
    border: transparent;
    margin-left: 5%;
    border-radius: 20px;
    font-size: medium;
}

.dm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ldm {
    width: 105px;
    padding: 10px 0;
    border: 2px solid transparent;
    background-color: rgb(61 158 255);
    color: #fff;
    border-radius: 18px;
    font-size: medium;
    cursor: pointer;
    margin: 50px 0;
    box-shadow: 0 13px 17px 0 rgb(204 204 204);
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
}

.question h2 {
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}

.question h2 span {
    color: var(--color1);
}

.text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    height: 55px;
    border-radius: 45px;
    position: relative;
    box-shadow: 0 7px 25px 0 rgb(204 204 204);
    width: 580px;
    margin: 30px 0;
}

.text input {
    width: 80%;
    height: 100%;
    border: transparent;
    font-size: large;
    margin-left: 20px;
    outline: none;
}


.text button {
    width: 100px;
    height: 80%;
    border: 2px solid #fff;
    background-color: var(--color1);
    color: #fff;
    border-radius: 45px;
    font-size: medium;
    cursor: pointer;
    margin-right: 4px;
}

.row {
    padding: 50px 30px;
    background-color: var(--color1);
    color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 100px 0 0 0;
}

.row h4 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}

.row p {
    padding-right: 35px;
}

.row hr {
    color: #fff;
}

.col-md-3 h4 {
    font-size: larger;
}
